.kontakt {
  padding: 0rem 2rem 2rem 2rem;
}

.kontakt h2 {
  padding-top: 1em;
}

.contacts {
  display: flex;
}

.contact-right-side {
  width: 50%;
  flex: 1;
  flex-direction: row;
  display: flex;
  justify-content: right;
  width: 100% !important;
}

.contact-left-side-items {
  display: flex;
  flex-direction: row;
}

.contact-left-side {
  font-size: 14.5px;
}

.left-side-right {
  margin-left: 70px;
}

.telephone-and-email {
  margin-top: 42px;
}

.google-map {
  margin-top: 1.3rem;
  width: 80%;
}

@media screen and (max-width: 1700px) {
  .left-side-right {
    margin-left: 50px;
  }
}

@media screen and (max-width: 550px) {
  .contact-left-side-items {
    display: flex !important;
    justify-content: space-between !important;
  }
  .contact-right-side {
    width: 100% !important;
  }
}
