.contacts {
  display: flex;
}

.contact-right-side {
  width: 50%;
  flex: 1;
  flex-direction: row;
  display: flex;
  justify-content: right;
  width: 100% !important;
}

.contact-left-side-items {
  display: flex;
  flex-direction: row;
}

.contact-left-side {
  font-size: 14.5px;
}

.left-side-right {
  margin-left: 70px;
}

.telephone-and-email {
  margin-top: 42px;
}

.google-map {
  margin-top: 1.3rem;
  width: 80%;
}

@media screen and (max-width: 1700px) {
  .left-side-right {
    margin-left: 50px;
  }
}

@media screen and (max-width: 900px) {
  .google-map {
    width: 90%;
  }
}

@media screen and (max-width: 800px) {
  .google-map {
    width: 95%;
  }
}

@media screen and (max-width: 700px) {
  .contacts,
  .footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .google-map {
    width: 100%;
    height: 300px;
  }
  .contact-left-side {
    width: 100%;
  }
  .contact-left-side-items {
    display: flex !important;
    justify-content: space-between !important;
  }
  .contact-right-side {
    width: 100% !important;
  }
}
