@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&family=Roboto:ital,wght@0,500;1,100;1,700&display=swap");
@import url(../assets/fontello2/css/fontello.css);

:root {
  --color-link: hsl(354, 88%, 56%);
  --color-bg: hsl(196, 63%, 15%);
  --color-A: hsl(185, 96%, 48%);
  --hover-color: hsl(0, 89%, 53%);
  --sub-menu: #bc212e;
}

body,
html {
  font-family: "Quicksand", sans-serif;
  margin: 0;
  padding: 0;
  max-width: 100%;
  overflow-x: hidden;
  background-image: url(../assets/images/main-background.jpg);
  object-fit: 100px 10px;
}

.main-container {
  padding: 0rem 2rem 2rem 2rem;
}

.container {
  margin-top: 6em !important;
}

.container hr {
  margin-bottom: 1.5em;
}

.container h1 {
  text-align: center;
  padding-top: 0.5em;
}

.main-container article h2 {
  margin-bottom: 1.5em;
}

.menu-day {
  margin-bottom: 2em;
}

.menu-day p {
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
}

.divide-line {
  margin-bottom: 2em !important;
}

.restaurant-image-container {
  display: flex;
  justify-content: center;
  margin-top: 1.5em;
}

.top-bar {
  margin: auto;
  width: 100%;
  padding: 0rem 1.5em 0.1em;
  background-color: #1d1d1d;
  position: fixed !important;
}

.top-bar ul li {
  display: flex;
  align-items: center;
}

.main-logo-container a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-logo {
  margin-right: 0.5rem;
  width: 50px;
}

nav {
}

nav div {
  padding: 0.5em 0em;
}

.menu-item a,
.menu-item span {
  padding: 0.5em 2em;
}

nav,
.menu-item a {
  display: flex;
  align-items: start;
}

.menu-item {
  text-decoration: none;
  position: relative;
}

.menu-item > a {
  display: block;
  text-align: center;
}

.menu-item > a:hover {
  color: white;
}

.menu-item:hover {
  background-color: white;
  color: black;
}

.menu-item span {
  display: block;
  color: white;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}

.menu-item a {
  text-decoration: none;
  color: white;
}

.sub-menu {
  display: none;
  position: absolute;
  padding: 1em 0em;
  width: 100%;
}

.menu-item:hover .sub-menu {
  display: block;
  background-color: var(--sub-menu);
}

.menu-item span:hover,
.menu-item a:hover {
  color: black;
}

.sub-menu a {
  display: block;
  text-decoration: none;
  padding: 0.5em 1em;
}

.container {
  color: white;
  margin: auto;
  width: 50%;
  background-color: #1d1d1d;
}

.bottom-movie img {
  width: 100%;
}

.footer {
  padding: 0rem 2rem 2rem 2rem;
  margin-top: 1rem;
}

.footer-container {
  margin-top: 1rem;
  display: flex;
  justify-content: space-around;
}

.footer-container p {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-logo {
  width: 100px;
}

@media screen and (max-width: 1500px) {
  .container {
    width: 51.5%;
  }
}

@media screen and (max-width: 1300px) {
  .container {
    width: 59.5%;
  }
}

@media screen and (max-width: 1100px) {
  .container {
    width: 70%;
  }
}

@media screen and (max-width: 905px) {
  .container {
    margin-top: 7em !important;
  }
}

@media screen and (max-width: 900px) {
  .container {
    width: 86.5%;
  }
}

@media screen and (max-width: 700px) {
  .container {
    width: 100%;
    margin-top: 5.5em !important;
  }
}

@media screen and (max-width: 550px) {
  .contacts,
  .footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .google-map {
    width: 200%;
    height: 300px;
  }
}
