@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&family=Roboto:ital,wght@0,500;1,100;1,700&display=swap");
@import url(../assets/fontello/css/fontello.css);

* {
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

:root {
  --color-link: hsl(354, 88%, 56%);
  --color-bg: hsl(196, 63%, 15%);
  --color-A: hsl(185, 96%, 48%);
  --hover-color: hsl(0, 89%, 53%);
  --sub-menu: #bc212e;
}

body,
html {
  font-family: "Quicksand", sans-serif;
  margin: 0;
  padding: 0;
  max-width: 100%;
  overflow-x: hidden;
  background-image: url(../assets/images/main-background.jpg);
  object-fit: 100px 10px;
}

.container hr {
  margin-bottom: 1.5em;
}

.container h2 {
  padding-top: 1em;
}

.hidden-menu {
  display: none;
}

.main-container {
  padding: 0rem 2rem 2rem 2rem;
}

.container hr {
  margin-bottom: 1.5em;
}

.container h1 {
  text-align: center;
  padding-top: 0.5em;
}

.main-container article h2 {
  margin-bottom: 1.5em;
}

.menu-day {
  margin-bottom: 2em;
}

.menu-day p {
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
}

.divide-line {
  margin-bottom: 2em !important;
}

.restaurant-image-container {
  display: flex;
  justify-content: center;
  margin-top: 1.5em;
}

.menu-day p span {
  max-width: 80%;
}

.container {
  color: white;
  margin: auto;
  width: 50%;
  background-color: #1d1d1d;
}

.bottom-movie img {
  width: 100%;
}

.footer {
  padding: 0rem 2rem 2rem 2rem;
  margin-top: 1rem;
}

.footer-container {
  margin-top: 1rem;
  display: flex;
  justify-content: space-around;
}

.footer-container p {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-logo {
  width: 100px;
}

.icon-detail {
  margin: 0px !important;
}

@media screen and (max-width: 1500px) {
  .container {
    width: 60%;
  }
}

@media screen and (max-width: 1300px) {
  .container {
    width: 70%;
  }
}

@media screen and (max-width: 1100px) {
  .container {
    width: 80%;
  }
  .restaurant-image {
    width: 80%;
  }
}

@media screen and (max-width: 944px) {
  .main-logo {
    margin-top: 20%;
  }
}

@media screen and (max-width: 900px) {
  .container {
    width: 86.5%;
  }
  .restaurant-image {
    width: 100%;
  }
}

@media screen and (max-width: 700px) {
  .main-logo {
    margin-top: 0;
  }
  .top-bar {
    padding: 0em;
  }
  .shown-menu {
    display: none;
  }
  .hidden-menu {
    display: grid !important;
  }
  .container {
    width: 100%;
    margin-top: -1.5em !important;
  }
  .main-container {
    margin-top: -0.1em;
  }
  .menu-item a,
  .menu-item span {
    padding: 0.5em 1em;
  }
}

@media screen and (max-width: 700px) {
  .footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
