#content {
  display: flex;
}

aside a p {
  color: white;
}

article {
  padding-top: 0 !important;
  flex: 1;
  padding: 5px 0px 0px 30px;
}

.article-without-aside {
  padding: 0;
}

.content {
  display: block;
  overflow: hidden;
}

aside p {
  margin: 0;
  cursor: pointer;
  padding: 1em;
  transition: all 0.3s ease;
}

aside p:hover,
aside p a:hover {
  background: white;
  color: black;
}

.title-first {
  margin: 0em !important;
}

.menu-day {
  margin-bottom: 2em;
}

.menu-day p {
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
}

.main-container img {
  width: 100%;
  margin-bottom: 2em;
}

@media screen and (max-width: 700px) {
  aside {
    margin-bottom: 2em;
  }
  aside a p {
    display: flex;
    justify-content: center;
  }
  #content {
    display: flex;
    flex-direction: column;
  }
  article {
    padding: 0;
  }
}
