.photo-container {
  padding: 0rem 2rem 2rem 2rem;
}

.container hr {
  margin-bottom: 1.5em;
}

.container h2 {
  padding-top: 1em;
}

.photos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.photos img {
  margin-right: 0.5em;
  margin-bottom: 0.5em;
  width: 150px;
}

@media screen and (max-width: 380px) {
  .photos img {
    margin-top: 1em;
  }
}
