
.icon-camera:before { content: '\e800'; } /* '' */
.icon-ice-cream:before { content: '\e801'; } /* '' */
.icon-soda:before { content: '\e802'; } /* '' */
.icon-food:before { content: '\e803'; } /* '' */
.icon-telephone:before { content: '\e804'; } /* '' */
